@model string
<style>
    .error {
        color: #610d0d;
    }

    .success {
        color: #17290b;
    }

</style>
@if (!String.IsNullOrEmpty(Model))
{
    var alertClass = string.Empty;
    var statusMessage = string.Empty;
    var message = Model;
    if (Model.StartsWith("ERROR"))
    {
        alertClass = "danger";
        message = message.Remove(0, 6);
        statusMessage = "ERROR:";
    }
    else
    {
        alertClass = "success";
        message = message.Remove(0, 8);
        statusMessage = "SUCCESS:";
    }
    <div class="alert alert-@alertClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <b class="@statusMessage.ToLower().Remove(statusMessage.Length-1)">@statusMessage</b>@message
    </div>
}
