@page
@model ToDo.Pages.DisplayView
@using Task = ToDo.Models.Task
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "DisplayView";
}
<link rel="stylesheet" href="~/css/displayview.css" asp-append-version="true" />

<section class="modal-forms">
    <div id="modal-form" class="modal"
         aria-hidden="true"
         role="dialog"
         data-keyboard="true">
        <div id="modal-dialog" class="modal-dialog">
        </div>
    </div>
</section>
<section class="project-main">
    <div class="project-title text-center">
        <h1>@Html.DisplayFor(model => model.Project.Name)</h1>
        <a class="backspace-link bi bi-backspace" asp-action="Main" asp-controller="Home"></a>
    </div>
    <div class="project-info">
        <div class="info-title h4 text-center my-3">
            INFORMATION
            <a class="lock-form-project-link lock-link title-link bi bi-lock" id="lock-form-project-link" href="#"></a>
            <a class="delete-project-link delete-link title-link modal-link bi bi-x-square"
               asp-action="Delete"
               asp-controller="Projects"
               asp-route-id="@Model.Project.Id"
               data-bs-toggle="modal"
               data-bs-target="#modal-form"></a>
        </div>
        <partial name="_StatusMessage" for="ProjectStatusMessage" />
        <partial name="Projects/_Edit" for="Project" />
    </div>
</section>
<section class="project-tasks">
    <div class="tasks-title h4 text-center my-3">
        TASKS
        <form method="post" asp-page="/Home/DisplayView" asp-page-handler="CompleteAllTasks" id="completeall-tasks-form">
            <input type="hidden" value="@Model.Project.Id" name="projectId" />
            <button class="complete-all-tasks-link complete-link title-link bi bi-check-all" type="submit"></button>
        </form>
        <a class="create-task-link create-link title-link modal-link bi bi-plus-square"
           asp-action="Create"
           asp-controller="Tasks"
           asp-route-projectId="@Model.Project.Id"
           data-bs-toggle="modal"
           data-bs-target="#modal-form"></a>
    </div>
    <partial name="_StatusMessage" for="TaskStatusMessage" />
    <partial name="Tasks/_List" for="Tasks" />

</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
