.project-main {
}

    .project-main .project-title {
        border: 1px solid #dee2e6;
        padding: 15px;
        color: black;
        position: relative;
    }

.backspace-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 20px;
    color: black;
}

    .backspace-link:hover {
        color: #c9aa2a;
    }

.project-info {
}

.info-title {
}

.info-title, .tasks-title {
    position: relative;
    background-color: #171616;
    padding: 15px;
    color: white;
}

.show-all-information-project-link {
    margin-right: 7rem;
    color: #e3922d;
}

    .show-all-information-project-link:hover {
        background-color: #e08719;
    }

.lock-form-project-link {
    margin-right: 4rem;
}

.delete-project-link {
}

#edit-project-form {
    padding: 15px;
    border: 1px solid #dee2e6;
}

    #edit-project-form label {
        display: flex;
        align-items: center;
        height: 100%;
    }

.info-hide {
    display: none;
}


/*SubmitForm*/
.project-tasks {
}

.tasks-title {
}

.complete-all-tasks-link {
    border: unset !important;
    margin-right: 4rem;
}

.create-task-link {
}

.tasks-list {
}

    .tasks-list table th:first-child {
        width: 50px;
    }

    .tasks-list table th:nth-child(3) {
        width: 200px;
    }

    .tasks-list table th:nth-child(4) {
        width: 150px;
    }

    .tasks-list table th:last-child {
        width: 150px;
    }

.taskTitle {
    cursor: pointer;
}

.date {
    padding: 2px;
    margin: 0;
    border: 2px solid black;
}

.created-date {
    border-color: #f0d73a;
}

.completed-date {
    border-color: #a1de6f;
}

.created-date, .completed-date {
    background-color: transparent;
}

.priority {
}

.btn-box {
}

.complete-task-link {
}

.uncomplete-task-link {
}

.edit-task-link {
}

.delete-task-link {
}

.task-description-tr {
    position: relative;
}


.tr-active {
}

.tr-nonactive {
    display: none;
    height: 0px !important;
}

.textarea-description {
    min-height: 80px !important;
    height: 80px !important;
    max-height: 80px !important;
}

.lock-description-task, .submit-description-task {
    position: absolute;
    border: unset !important;
}

.lock-description-task {
    right: 1rem;
    top: 1rem;
}

.submit-description-task {
    right: 1rem;
    bottom: 1rem;
}
