@import url('modal.css');

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

body {
    padding-bottom: 80px;
}

a {
    text-decoration: none !important;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1220px;
}


.form-group {
    margin-bottom: 20px;
}

table th {
    vertical-align: middle;
    text-align: center;
}

.title-link {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1rem;
    font-size: 20px;
    width: 30px;
    height: 30px;
    padding: 1px 2px 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: unset;
}

.table-link {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid white;
}

.btn-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    .btn-box a, .btn-box button {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

.complete-link {
    border-color: #579925;
    color: #579925;
}

    .complete-link:hover {
        color: white;
        background-color: #579925;
    }

.uncomplete-link {
    border-color: #f57b42;
    color: #f57b42;
}

    .uncomplete-link:hover {
        color: white;
        background-color: #f57b42;
    }

.create-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #ded118;
    color: #ded118;
}

    .create-link:hover {
        color: white;
        background-color: #ded118;
    }

.edit-link {
    border-color: #2889de;
    color: #2889de;
}

    .edit-link:hover {
        color: white;
        background-color: #2889de;
    }


.delete-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #c41a1a;
    color: #c41a1a;
}

    .delete-link:hover {
        color: white;
        background-color: #c41a1a;
    }


.info-link {
    border-color: #c9aa2a;
    color: #c9aa2a;
}

    .info-link:hover {
        color: white;
        background-color: #c9aa2a;
    }

.hide-link {
    border-color: #0acf9d;
    color: #0acf9d;
    /*color: #69a305;*/
}

    .hide-link:hover {
        color: white;
        background-color: #055440;
    }

.show-link {
    border-color: #055440;
    color: #055440;
    /*color: #90de09;*/
}

    .show-link:hover {
        color: white;
        background-color: #0acf9d;
    }

.lock-link {
    border-color: #0acf9d;
    color: #0acf9d;
}

    .lock-link:hover {
        color: white;
        background-color: #055440;
    }

.unlock-link {
    border-color: #055440;
    color: #055440;
}

    .unlock-link:hover {
        color: white;
        background-color: #0acf9d;
    }


table td span {
    display: flex;
    flex-direction: column;
}

.priority {
    width: 100%;
    height: 100%;
    padding: 2px;
    margin: 0;
    border: 2px solid;
    font-weight: 600;
    color: white;
}

.priority-critical {
    border-color: #b51607;
    background-color: #b51607;
}

.priority-high {
    border-color: #e02204;
    background-color: #e02204;
}

.priority-medium {
    border-color: #e08719;
    background-color: #e08719;
}

.priority-low {
    border-color: #e8c40e;
    background-color: #e8c40e;
}