@model ToDo.Models.Task

<section class="modal-content" id="create-form-info">
    <div class="form-title">
        <p class="h4 text-center">CREATE TASK</p>
        <a class="form-title-closelink bi bi-x-square" href="#" data-bs-dismiss="modal"></a>
    </div>
    <div class="px-4 pb-2 pt-3 form-main">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="isCompleted" hidden />
            <input asp-for="CreatedDate" type="datetime-local" id="date" hidden />
            <input asp-for="ProjectId" class="form-control" hidden />

            <div class="form-group">
                <label asp-for="Project" class="control-label"></label>
                <input value="@ViewBag.Project.Name" class="form-control" disabled />
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control" asp-items="@Html.GetEnumSelectList<Enums.Priority>()"></select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a href="#" class="block btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
            </div>
        </form>
    </div>
</section>
<script src="~/js/site.js" asp-append-version="true"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
